<!DOCTYPE html>
<html>
  <head>
    <title>Landscape</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/d61c24a998.js" crossorigin="anonymous"></script>
    
  </head>

  <body>
    <%= render 'layouts/header', user: current_user %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
